header div{
    padding: 20px;
}
.head-title{
    background: rgb(12, 114, 255);
    font-weight: bold;
    color: #fff;
}
.head-action{
    background: rgb(221, 221, 221);
    form{
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 1fr;
        align-items: center;
        .custom-input{
            display: flex;
            flex-direction: column;
            &.checkbox{
                flex-direction: row!important;
                align-items: center;
            }
        }
        button{
            height: 40px;
            max-width: 130px;
        }
        input{
            height: 30px;
        }
    }
}